<div class="container">
  <h1 class="jumbotron text-center">Menu</h1>

  <ul class="list-group">
    <li class="lead list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of items;let i = index">
      {{item}}
      <span class="badge badge-primary badge-pill">
        <i class="fa fa-times" (click) = "deleteItem(i)"></i>
      </span>
    </li>
    <p></p>
    <div>
      <input type="text" class="form-control" name="menuItem" 
      id="menuItem" [(ngModel)] = "newMenuItem" placeholder="enter new menu item">

    </div>
  </ul>

  <p></p>

  <p>
    <button class="btn btn-success" (click) = "addItem()">
      <i class="fa fa-plus"></i>
    </button>
    <button class="btn btn-warning" (click) = "resetItems()">
      <i class="fa fa-undo"></i>
    </button>
  </p>


</div>